#patch-notes-section {
    background-color: white;
    margin-inline: 10em;
    border-radius: 10px;
    padding: 3em;
    margin-bottom: 3em;
}

.title {
    margin: 0;
    margin-top: 1rem;
    font-weight: 700;
    font-size: 3em;
    text-transform: uppercase;
}

.subtitle {
    margin: 0;
    font-weight: 700;
    font-size: 1.5em;
    text-transform: uppercase;
    color: rgb(35, 35, 35);
}

.date {
    margin: 0;
    font-weight: 400;
    text-align: right;
    font-size: 1.2em;
    color: rgb(78, 78, 78);
}

.content-container {
    text-align: left;
    margin-inline: 4em;
    margin-top: 4em;
    border-left: solid #6e4ce0 1px;
    border-right: solid #6e4ce0 1px;
    padding-inline: 4rem;
}

.category {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-left: -2rem;
    margin-bottom: 2rem;
}

.subcategory {
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 700;
    color: rgb(35, 35, 35);
    margin: 0;
}

.details {
    color: rgb(65, 65, 65);
    margin: 0;
    margin-block: .5rem;
    margin-bottom: 2rem;
}


.backIcon {
    font-size: 2.5rem;
    text-decoration: none;
    color: #6e4ce0cc;
    text-align: left;
    transition: all 0.3s ease;
}

.backIcon:hover {
    transform: scale(1.05);
    color: #6e4ce0;
    transition: all 0.3s ease;
}

.head-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.gameimg-0-voxeland , .gameimg-1-voxeland , .gameimg-2-voxeland {
    background-size: cover;
    background-position-y: 70%;
    padding: 5vw;
    margin-inline: 4rem;
    margin-top: 2rem;
    border-radius: .5vw;
    background-repeat: no-repeat;
    image-rendering: optimizeSpeed;
}

.gameimg-0-voxeland {
    background-image: url(../../img/voxeland.png);
}

.gameimg-1-voxeland {
    background-image: url(../../img/voxeland.png);
}

.gameimg-2-voxeland {
    background-image: url(../../img/voxeland.png);
}





@media screen and (max-width: 768px) { 
    #patch-notes-section {
        margin: 8vw;
    }

    .gameimg-0-voxeland , .gameimg-1-voxeland , .gameimg-2-voxeland{
        margin-inline: 0rem;
        padding: 6vh;
    }

    .title {
        font-size: 8vw;
    }
    .subtitle {
        font-size: 6vw;
    }
    .content-container {
        margin: 0;
        padding-inline: 8vw;
    }

    .category {
        font-size: 5vw;
        margin-left: -4vw;
    }
    .subcategory {
        font-size: 4vw;
    }
    .details {
        font-size: 4vw;
    }

    #patch-notes-section {
        margin: 3vw;
        padding: 5vw;
    }
}
