html {
    scroll-behavior: smooth;
}


body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #0d0913;
    color: black;
}

header {
    background-color: #6a5acd;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 0 100px #695acd75;
}
.slogan {
    text-transform: uppercase;
    font-weight: 600;
    font-size: .9rem;
    margin-top: -.5rem;
    margin-bottom: 1rem;
}

footer {
    background-color: #695acd00;
    color: #fff;
    text-align: center;
    padding: 3rem;
    position: relative;
    bottom: 0;
    left: 0;
    font-size: .9rem;
}

.logo {
    width: 80%;
    max-width: 600px;
    min-width: 150px;
    image-rendering: optimizeSpeed;
}

nav {
    margin: 1rem 0 .4rem; /* Ajustar el espaciado superior */
    position: relative;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; /* Mostrar los elementos de navegación en línea */
    justify-content: end; /* Centrar los elementos de navegación horizontalmente */
    align-items: end;
    position: relative;
}


nav ul li a {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: .9rem;
    text-decoration: none;
    padding: .5rem 2rem;
    border-bottom: solid .2rem #0000002d;
    transition: all 0.3s ease;
}
nav ul li a:hover {
    border-bottom: solid .2rem #aa9dff;
    padding: .5rem 3rem;
    transition: all 0.3s ease;
    background-color: #ffffff11;
}

section {
    padding: 50px 20px;
    text-align: center;
}


.gameSearch {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: auto;
    max-width: none;
    padding: 40px;
}

.tituloJuegoSearch {
    font-size: 2em;
    margin-top: 0;
}

#searchResultsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    position: relative;
    width: fit-content;
}

.image-container {
    position: relative;
    overflow: hidden;
    height: fit-content;
    border-radius: 8px;
}

.image-containerSearch {
    height: fit-content;
}

.image-container img {
    transition: transform 0.3s;
    max-width: 100%;
    image-rendering: optimizeSpeed;
}


.image-container:hover img {
    transform: scale(1.15);
    filter: brightness(70%);
    border-radius: 8px; /* Ajuste del borde redondeado al hacer zoom */
    transition: all 0.3s ease;
}


.ver-juego {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #6a5acd;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s;
}

.image-container:hover .ver-juego {
    opacity: 1;
}

.ver-juego:focus {
    outline: none;
}


.search-form , .search-form2{
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: .5em;
    display: none;
    
}

.search-form2 {
    display: flex;
    margin-top: 2em;
}

.showSearchbar {
    display: flex;
    flex-direction: row;
    align-items: center;
}



.showSearchbar i {
    color: #ffffffb8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .5em;
    font-size: 2em;
    position: relative;
    transition: all 0.2s ease;
}

.showSearchbar:hover i {
    color: white;
    cursor: pointer;
    transition: all 0.2s ease;
}


#searchIcon {
    font-size: 1em;
    margin-left: .5em;
}

.search-form input[type="text"]::placeholder , .search-form2 input[type="text"]::placeholder {
    color: rgba(255, 255, 255, 0.245);
}

.search-form input[type="text"] , .search-form2 input[type="text"]{
    font-family: "Inter", sans-serif;
    padding: 8px;
    padding-left: 15px;
    width: 100%;
    max-width: 450px;
    border-radius: 5px 0 0 5px;
    background-color: #0000002c;
    color: white;
    border: none; /* Eliminar el borde derecho */
  
}
.search-form input[type="text"]:focus , .search-form2 input[type="text"]:focus{
    outline: solid 2px rgba(0, 0, 0, 0.200);
    outline-offset: -2px;
}

.search-form button , .search-form2 button {
    padding: 8px 15px;
    background-color: #00000059;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.search-form button:hover , .search-form2 button:hover{
    background-color: #ffffff78;
    color: rgba(0, 0, 0, 0.781);
    font-weight: 500;
}




#games {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.games-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 40rem;
    box-shadow: 0px 0px 200px -50px #6a5acd;
    
}

.game {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

}

.bloodletting, .sixtyseconds, .voxeland {
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    border-bottom: solid .8rem #443a85;
    box-shadow: inset 0 -200px 200px -200px #695acd80;   
    transition: all ease 0.3s;
}

.bloodletting:hover, .sixtyseconds:hover, .voxeland:hover {
    width: 150%;
    box-shadow: inset 0 -300px 300px -300px #8370ff;   
    border-bottom: solid .8rem #9483ff;
    transition: all ease 0.3s;
}

.hover-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    opacity: 0%;
    transition: all ease 0.3s;
}

.hover-desc:hover {
    opacity: 100%;
    transition: all ease 0.3s;
}

.hover-desc h2, p {
    margin: 0;
    padding: 0;
    pointer-events: none;
}

.hover-desc h2 {
    font-size: 4rem;
}

.view-button {
    background: rgb(106,90,205);
    background: linear-gradient(90deg, rgba(76, 65, 145, 0.767) 0%, rgba(134,115,255,1) 49.9%, rgba(134,115,255,1) 50%,rgba(134,115,255,1) 100%);
    background-size: 200%;
    font-size: 1rem;
    margin-top: 1.5rem;
    margin-bottom: -1rem;
    padding: .75rem 2rem;
    border-radius: 10rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    transition: all ease 0.3s;
}
.view-button p {
    pointer-events: none;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.view-button i {
    pointer-events: none;
    font-size: .8.5rem;
    margin: 0 0 0 .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.view-button:hover {
    background-position-x: 100%;
    transform: scale(1.05);
    transition: all ease .5s;
}

.about-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: left;
    margin: 4rem 40rem 1rem;
    background-color: #00000000;
    box-shadow: 0px 0px 200px -100px #695acd7c;
    border-radius: 1rem;
    transition: all ease .5s;
}

.about-us:hover {
    transform: translateY(-1rem);
    transition: all ease .5s;
}

.about-us ul {
    margin: 0.5rem 0;
}

.about-us p {
    margin: 1rem;
}

.about-title img{
    width: 20rem;
}

.about-us p a {
    text-decoration: none;
    color: #afa2ff;
    cursor: pointer;
    pointer-events: all;
}

.about-us p a:hover {
    text-decoration: underline;
}

.copyright-content {
    margin: 1rem 0;
}

.copyright-content ul {
    padding: 0 2.5rem;
}
.copyright-content ul li {
    margin-block: .5rem;
}
.copyright-content ul li p{
    margin: 0rem;
}


/* Estilos para dispositivos con pantalla más pequeña, como tabletas y teléfonos */
@media screen and (max-width: 768px) {

    nav ul {
        flex-direction: column; /* Cambiar la dirección de los elementos a columna */
        align-items: center; /* Centrar los elementos horizontalmente */

    }

    nav ul li {
        margin-right: 0; /* Eliminar el margen derecho */
        margin-block: 10px; /* Agregar un espacio entre los elementos de navegación */
        font-size: 4vw;
    }

    footer {
        font-size: 100%;
    }

    #games {
        padding-inline: 0;
    }

    .game {
        margin-inline: 1em;
    }
    .patch-container {
        flex-direction: column-reverse;
    }
    .patch-notes {
        margin-left: 0;
        border-radius: 10px;
        background-color: #00000000;
        box-shadow: 0px 0px 0px 0px;
    }

    #news {
        padding: 1em;
        background-color: white;
    }
    


    .patchImg {
        padding: 0;
        width: 80%;
        height: 100%;
        background-color: #00000000;
        box-shadow: 0px 0px 0px 0px;
    }

    #contact-signup {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .icon-text {
        padding: 2em;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    #formSolicitud {
        margin: 0;
    }

    textarea {
        width: 100%;

    }
    .textarea::placeholder {
        font-family: "Inter";
    }
}
