html {
    scroll-behavior: smooth;
}


body {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #0d0913;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    background-color: #6a5acd;
    color: #fff;
    padding: 0 0 1.2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 0 100px #695acd75;
    width: 100%;
    margin: 0;
}
.slogan {
    text-transform: uppercase;
    font-weight: 600;
    font-size: .9rem;
    margin-top: -.5rem;
    margin-bottom: 1rem;
}

footer {
    background-color: #695acd00;
    color: #fff;
    text-align: center;
    padding: 3rem;
    position: relative;
    bottom: 0;
    left: 0;
    font-size: .9rem;
}

.logo {
    width: 80%;
    max-width: 600px;
    min-width: 150px;
    image-rendering: optimizeSpeed;
}

nav {
    margin: 1rem 0 .4rem; /* Ajustar el espaciado superior */
    position: relative;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex; /* Mostrar los elementos de navegación en línea */
    justify-content: end; /* Centrar los elementos de navegación horizontalmente */
    align-items: end;
    position: relative;
}

nav ul li a {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 500;
    font-size: .9rem;
    text-decoration: none;
    padding: .5rem 2rem;
    border-bottom: solid .2rem #0000002d;
    transition: all 0.3s ease;
}
nav ul li a:hover {
    border-bottom: solid .2rem #aa9dff;
    padding: .5rem 3rem;
    transition: all 0.3s ease;
    background-color: #ffffff11;
}

section {
    padding: 50px 20px;
    text-align: center;
}


#games {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.games-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 40rem;
    box-shadow: 0px 0px 200px -50px #6a5acd;
    
}

.game {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

}

.bloodletting, .sixtyseconds, .voxeland {
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    border-bottom: solid .8rem #443a85;
    box-shadow: inset 0 -200px 200px -200px #695acd80;   
    transition: all ease 0.3s;
}

.bloodletting:hover, .sixtyseconds:hover, .voxeland:hover {
    width: 150%;
    box-shadow: inset 0 -300px 300px -300px #8370ff;   
    border-bottom: solid .8rem #9483ff;
    transition: all ease 0.3s;
}

.hover-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    opacity: 0%;
    transition: all ease 0.3s;
}

.hover-desc:hover {
    opacity: 100%;
    transition: all ease 0.3s;
}

.hover-desc h2, p {
    margin: 0;
    padding: 0;
    pointer-events: none;
}

.hover-desc h2 {
    font-size: 4rem;
}

.view-button {
    background: rgb(106,90,205);
    background: linear-gradient(90deg, rgba(76, 65, 145, 0.767) 0%, rgba(134,115,255,1) 49.9%, rgba(134,115,255,1) 50%,rgba(134,115,255,1) 100%);
    background-size: 200%;
    font-size: 1rem;
    margin-top: 1.5rem;
    margin-bottom: -1rem;
    padding: .75rem 2rem;
    border-radius: 10rem;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    transition: all ease 0.3s;
}
.view-button p {
    pointer-events: none;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.view-button i {
    pointer-events: none;
    font-size: .8.5rem;
    margin: 0 0 0 .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.view-button:hover {
    background-position-x: 100%;
    transform: scale(1.05);
    transition: all ease .5s;
}

.about-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: left;
    margin: 4rem 0 1rem;
    background-color: #00000000;
    box-shadow: 0px 0px 200px -100px #695acd7c;
    border-radius: 1rem;
    padding: 2rem 2rem 1rem;
    width: 35rem;
    transition: all ease .5s;
}

.about-us:hover {
    transform: translateY(-1rem);
    transition: all ease .5s;
}

.about-us ul {
    margin: 0.5rem 0;
}

.about-us p {
    margin: 1rem;
}

.about-title img{
    width: 20rem;
}

.about-us p a {
    text-decoration: none;
    color: #afa2ff;
    cursor: pointer;
    pointer-events: all;
}

.about-us p a:hover {
    text-decoration: underline;
}

.copyright-content {
    margin: 1rem 0;
}

.copyright-content ul {
    padding: 0 2.5rem;
}
.copyright-content ul li {
    margin-block: .5rem;
}
.copyright-content ul li p{
    margin: 0rem;
}


/* Estilos para dispositivos con pantalla más pequeña, como tabletas y teléfonos */
@media screen and (max-width: 768px) {
    nav ul li a{
        font-size: 3.5vw;
        padding: .5rem 1rem;
    }
    nav ul li a:hover{
        font-size: 3.5vw;
        padding: .5rem 2rem;
    }

    .hover-desc h2{
        font-size: 10vw;
    }

    .hover-desc p{
        font-size: 3.5vw;
    }

    footer {
        font-size: 100%;
    }

    #games {
        padding-inline: 0;
    }

    .about-us {
        width: 80vw;
    }

}

@media screen and (max-width: 1170px) { 
    .games-container {
        flex-direction: column;
        height: fit-content;
    }
    .game {
        height: 20rem;
    }
}