html {
    scroll-behavior: smooth;
}


body {
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #f0f0f0;
    color: black;
}

header {
    background-color: #161616;
    color: #fff;
    padding: 1rem 1.5rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    border-bottom: #00ff9d solid 3px;
    z-index: 1;
}

.left-nav {
    display: flex;
    flex-direction: row;
}

.right-nav {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    transition: all ease 0.2s;
}
.right-nav:hover {
    background-color: rgba(255, 255, 255, 0.1);
    transition: all ease 0.2s;
}

.right-nav:hover .account-button {
    color: white;
    cursor: pointer;
}

.right-nav:hover .account-name {
    color: white;
    cursor: pointer;
}

.right-nav:hover .account-tab {
    display: flex;
}

.account-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.2rem;
    color: #ffffffdc;
}

.account-button .fa-caret-down {
    font-size: 1.5rem;
    margin: .5rem;
}

.left-nav nav ul li i {
    color: #ffffffb2;
    font-size: 1rem;
    margin: 0rem .3rem;
}

.account-name {
    margin: 0 1rem;
    font-weight: 500;
    color: #ffffffdc;
}

.account-tab {
    display: none;
    flex-direction: column;
    position: absolute;
    right: 1rem;
    top: 4.3rem;
    background-color: #161616;
    padding: 0rem 1rem 0rem 1rem;
    border-radius: 8px;
    width: 10rem;
}
.account-tab ul li {
    list-style: none;
    font-weight: 600;
    font-size: .9rem;
    margin: 1rem;
    text-align: left;
    padding: .5rem 1rem;
    border-radius: 20px;
}

.account-tab ul li a {
    color: #ffffffdc;
    text-decoration: none;
}

.account-tab ul li:hover a{
    color: #ffffff;

}

.account-tab ul li:hover {
    color: white;
    cursor: pointer;
    background-color: #ffffff31;
}

.account-tab ul {
    margin: 0;
    padding: 0;
}

.logo {
    width: 8%;
    image-rendering: optimizeSpeed;
    margin: 0rem 1.5rem;
}

.logo:hover {
    cursor: pointer;
    filter: invert(37%) sepia(68%) saturate(5062%) hue-rotate(230deg) brightness(100%) contrast(100%);
}

nav {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    margin: 0rem 0.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li a {
    color: #ffffff;
    font-weight: 500;
    text-decoration: none;
    border-radius: 5px; /* Agregar bordes redondeados */
    transition: background-color 0.3s; /* Agregar transición al pasar el cursor */
    text-transform: uppercase;
    font-size: .9rem;
    padding: .5rem 1rem;
}

nav ul li a:hover {
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.1); /* Cambiar el color de fondo al pasar el cursor */
}

nav ul li a:hover i {
    color: white;
}

.tab-a:hover .info-tab1{
    display: flex;
}
.tab-a:hover .info-tab2{
    display: flex;
}
.tab-a:hover .info-tab3{
    display: flex;
}

.info-tab1:hover {
    display: flex;
}

.info-tab2:hover {
    display: flex;
}
.info-tab3:hover {
    display: flex;
}

.info-tab1, .info-tab2, .info-tab3 {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 2.4rem;
    left: 0rem;
    background-color: #161616;
    padding: .8rem;
    border-radius: 6px;
}

.info-tab2 {
    left: 45%;
}

.info-tab3 {
    left: 70%;
}

.info-tab3 ul li a i {
    font-size: .8rem;
    padding: 0;
    margin: 0;
    margin-left: .5rem;
}



.info-tab1 ul, .info-tab2 ul, .info-tab3 ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.info-tab1 ul li, .info-tab2 ul li, .info-tab3 ul li {
    margin: .2rem 0;
    width: 100%;
    text-align: left;
    display: flex;
    justify-content: start;
    border-radius: 4px;
}

.info-tab1 ul li:hover {
    background-color: #ffffff2a;
    cursor: pointer;
}
.info-tab2 ul li:hover {
    background-color: #ffffff2a;
    cursor: pointer;
}
.info-tab3 ul li:hover {
    background-color: #ffffff2a;
    cursor: pointer;
}


.info-tab1 ul li a {
    pointer-events: none;
    text-align: left;
}
.info-tab2 ul li a {
    pointer-events: none;
    text-align: left;
}

.info-tab3 ul li a {
    pointer-events: none;
    text-align: left;
}


footer {
    background-color: #161616;
    margin-top: 5rem;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    left: 0;
    font-size: .8em;
}


.cover-title, .video-container, .title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
}

.video-container {
    position: absolute;
    width: 100%;
    height: 45rem;
    border-radius: 0px 0px 20rem 20rem;
    z-index: -1;
    top: 5rem;

}

.video-container video {
    width: 110%;
    position: absolute;
    top: -22rem;
    filter: blur(8px);
}

.title-container {
    position: relative;
    margin-inline: 10rem;
    padding: 14rem 5rem;
    width: auto;
}

.title-container h1 {
    font-size: 7.5rem;
    color: white;
    margin: 0 0 1rem 0;
    text-transform: uppercase;
    text-shadow: rgba(0, 0, 0, 0.178) 0px 0px 10px;
}

.title-container p {
    font-size: 1rem;
    color: white;
    font-weight: 500;
    margin: 0;
    text-shadow: rgba(0, 0, 0, 0.616) 0px 0px 10px;
}

.play-button p {
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: none;
}

.play-button {
    background-color: #14ec99d7;
    padding: .9rem 3rem;
    border-radius: 50px;
}

.play-button:hover {
    cursor: pointer;
    background-color: #14ec99;
}

.recent-news {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
}
.news-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    position: relative;
}
.news-media img {
    width: 100%;
    border-radius: 3px;

}
.news h4 {
    font-size: 1.5rem;
    margin: 0;
}

.news {
    display: flex;
    flex-direction: column;
    margin-inline: 1.2rem;
    transition: all ease-in-out 0.2s;
} 
.news:hover {
    cursor: pointer;
    transform: translateY(-5px);
    transition: all ease-in-out 0.2s;
}

.date-class {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    margin: 1rem 0;
    color: rgba(0, 0, 0, 0.75);
}

.date-class span {
    margin-inline: .5rem;
    font-weight: 300;
}

.date-class p {
    margin: 0;
    
}

.news-container {
    margin: 0rem 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    position: relative;
}

.news-container h2 {
    font-size: 6rem;
    text-align: left;
    margin: 0;
    text-transform: uppercase;
    font-weight: 800;
    color: #14ec99;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.date-new {
    font-size: .7rem;
    font-weight: 600;
}
.class-new {
    font-size: .7rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #11cf86;
}
.news-title-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    text-align: end;
    width: 98%;
    padding-inline: 0rem;
    margin: 2rem 0 0 0;
}

.news-button {
    color: #8414ec;
    display: flex;
    position: relative;
    padding: 0rem 1rem;
    text-transform: uppercase;
    font-size: .9rem;
    font-weight: 500;
    transition: all ease-in-out 0.2s;
}

.news-button:hover {
    cursor: pointer;
    transform: translateX(5px);
    transition: all ease-in-out 0.2s;
}

.about-game {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    margin: 6rem 20rem;
}

.game-trailer {
    width: 60%;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.game-trailer video {
    width: 100%;
    border-radius: 6px;
    z-index: -1;
    border-bottom: inset 8px #14c782b2;
    transition: all ease-in-out 0.2s;
}

.about-title {
    width: 40%;
    margin: 1rem;
}
.about-title h2{
    font-size: 5rem;
    color: #14ec99;
    text-align: left;
    line-height: 90%;
    margin: 0 0 2rem 0;
}

.about-title p {
    margin: 0;
    color: rgba(0, 0, 0, 0.75);
}

.play-video {
    position: absolute;
    z-index: 3;
    font-weight: 900;
    font-size: 2rem;
    background-color: #00ff9dad;
    padding: .8rem 1.2rem;
    margin: 0;
    color: rgb(255, 255, 255);
    border-radius: 100%;
    transition: all ease-in-out 0.2s;
}

.game-trailer:hover {
    cursor: pointer;
}

.game-trailer:hover video {
    border-bottom: inset 8px #14ec99;
    transition: all ease-in-out 0.2s;
}

.game-trailer:hover .play-video {
    background-color: #00ff9d;
    transition: all ease-in-out 0.2s;
}

.youtube-trailer {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 5;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #000000de;
}

.youtube-trailer h3 {
    color: #98ffd7;
    font-size: 2rem;
    margin: 0rem 0 0 0;
    text-transform: uppercase;
    font-weight: 800;
    text-shadow: #14ec9980 0 0 20px;
    margin-left: 40%;
}

.youtube-trailer iframe {
    width: 100%;
    height: 100%;
    z-index: 5;
}

.quit-button {
    position: absolute;
    top: 1.5rem;
    right: 0;
    color: #ff4747;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    margin-right: 1.5rem;
    z-index: 6;
}

.quit-button:hover {
    cursor: pointer;
}

.quit-button i {
    font-size: 3rem;
}

.game-trailer-logo {
    position: absolute;
    width: 15rem;
    margin: 0;
    padding: 0;
    left: 44%;
    top: .5rem;
    z-index: 6;
}

@media screen and (max-width: 768px) {

    
}
